body {
  margin: 0;
  line-height: normal;
}
.android-large-10-child {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: var(--color-blue);
  width: 65px;
  height: 65px;
}
.vecteezy-technology-background-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  width: 858px;
  height: 1121px;
  object-fit: cover;
}
.android-icon1 {
  position: absolute;
  top: 8px;
  left: 80px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.vector-icon5,
.vector-icon6,
.vector-icon7,
.vector-icon8 {
  position: absolute;
  height: 2.5%;
  width: 6.42%;
  top: 0.63%;
  right: 16.63%;
  bottom: 96.88%;
  left: 76.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon6,
.vector-icon7,
.vector-icon8 {
  height: 2.19%;
  width: 6.94%;
  top: 1%;
  right: 25%;
  bottom: 96.81%;
  left: 68.06%;
}
.vector-icon7,
.vector-icon8 {
  height: 1.56%;
  top: 1.25%;
  right: 6.94%;
  bottom: 97.19%;
  left: 86.11%;
}
.vector-icon8 {
  height: 2.73%;
  width: 6.08%;
  top: 1%;
  right: 61.98%;
  bottom: 96.27%;
  left: 31.94%;
}
.pm1 {
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: var(--font-size-2xs);
  display: inline-block;
  text-align: left;
  width: 70px;
  height: 16px;
}
.android-large-10-item {
  position: absolute;
  top: 49px;
  left: 0;
  width: 360px;
  height: 65px;
  object-fit: cover;
}
.icon-hamburger-button1,
.icon-mail2,
.icon-search1,
.icon-user1 {
  position: absolute;
  height: 6.31%;
  width: 14.01%;
  top: 6.94%;
  right: 18.06%;
  bottom: 86.75%;
  left: 67.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-hamburger-button1,
.icon-mail2,
.icon-user1 {
  height: 5.39%;
  width: 13.89%;
  top: 7.38%;
  right: 83.33%;
  bottom: 87.23%;
  left: 2.78%;
}
.icon-mail2,
.icon-user1 {
  height: 6.36%;
  top: 6.94%;
  right: 2.78%;
  bottom: 86.69%;
  left: 83.33%;
}
.icon-mail2 {
  height: 6.25%;
  width: 14.14%;
  top: 7%;
  right: 36.82%;
  bottom: 86.75%;
  left: 49.04%;
}
.android-large-10-inner {
  position: absolute;
  top: 114px;
  left: 0;
  background-color: var(--color-black);
  width: 360px;
  height: 76px;
}
.student-feedback {
  position: absolute;
  top: 130px;
  left: 17px;
  font-size: var(--font-size-base);
  display: flex;
  color: var(--color-white);
  align-items: center;
  justify-content: center;
  width: 336px;
  height: 54px;
}
.android-large-10-child1 {
  position: absolute;
  top: 230px;
  left: 1px;
  border-radius: var(--br-sm);
  background-color: var(--color-yellow-100);
  width: 360px;
  height: 103px;
}
.leave-a-note {
  position: absolute;
  top: 184px;
  left: 40px;
  font-size: var(--font-size-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 293px;
  height: 192px;
}
.rectangle-textarea {
  border: 0;
  background-color: var(--color-paleturquoise);
  position: absolute;
  top: 338px;
  left: 10px;
  border-radius: var(--br-sm);
  width: 343px;
  height: 339px;
}
.add-feedback {
  position: absolute;
  top: 354px;
  left: 27px;
  display: inline-block;
  text-align: left;
  width: 208px;
  height: 46px;
}
.android-large-10-child2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #a9acfa;
  position: absolute;
  top: 691px;
  left: 10px;
  border-radius: 20px;
  width: 123px;
  height: 37px;
}
.rate-us {
  position: absolute;
  top: 693px;
  left: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 33px;
}
.android-large-10 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 800px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
