body {
  margin: 0;
  line-height: normal;
}
.android-large-7-child {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: var(--color-blue);
  width: 65px;
  height: 65px;
}
.vecteezy-technology-background-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  width: 858px;
  height: 1121px;
  object-fit: cover;
}
.android-icon4 {
  position: absolute;
  top: 8px;
  left: 80px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.vector-icon17,
.vector-icon18,
.vector-icon19,
.vector-icon20 {
  position: absolute;
  height: 2.5%;
  width: 6.42%;
  top: 0.63%;
  right: 16.63%;
  bottom: 96.88%;
  left: 76.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon18,
.vector-icon19,
.vector-icon20 {
  height: 2.19%;
  width: 6.94%;
  top: 1%;
  right: 25%;
  bottom: 96.81%;
  left: 68.06%;
}
.vector-icon19,
.vector-icon20 {
  height: 1.56%;
  top: 1.25%;
  right: 6.94%;
  bottom: 97.19%;
  left: 86.11%;
}
.vector-icon20 {
  height: 2.73%;
  width: 6.08%;
  top: 1%;
  right: 61.98%;
  bottom: 96.27%;
  left: 31.94%;
}
.pm4 {
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: var(--font-size-2xs);
  display: inline-block;
  text-align: left;
  width: 70px;
  height: 16px;
}
.android-large-7-item {
  position: absolute;
  top: 49px;
  left: 0;
  width: 360px;
  height: 65px;
  object-fit: cover;
}
.icon-hamburger-button4,
.icon-mail5,
.icon-search4,
.icon-user4 {
  position: absolute;
  height: 6.31%;
  width: 14.01%;
  top: 6.94%;
  right: 18.06%;
  bottom: 86.75%;
  left: 67.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-hamburger-button4,
.icon-mail5,
.icon-user4 {
  height: 5.39%;
  width: 13.89%;
  top: 7.38%;
  right: 83.33%;
  bottom: 87.23%;
  left: 2.78%;
}
.icon-mail5,
.icon-user4 {
  height: 6.36%;
  top: 6.94%;
  right: 2.78%;
  bottom: 86.69%;
  left: 83.33%;
}
.icon-mail5 {
  height: 6.25%;
  width: 14.14%;
  top: 7%;
  right: 36.82%;
  bottom: 86.75%;
  left: 49.04%;
}
.android-large-7-inner {
  position: absolute;
  top: 114px;
  left: 0;
  background-color: var(--color-black);
  width: 360px;
  height: 76px;
}
.student-record-management {
  position: absolute;
  top: 130px;
  left: 17px;
  display: flex;
  color: var(--color-white);
  align-items: center;
  justify-content: center;
  width: 336px;
  height: 54px;
}
.android-large-7-child1,
.android-large-7-child2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-yellow-100);
  position: absolute;
  top: 400px;
  left: 0;
  width: 107px;
  height: 64px;
}
.android-large-7-child2 {
  left: 185px;
}
.class,
.section {
  position: absolute;
  top: 400px;
  left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 64px;
}
.section {
  left: 192px;
}
.android-large-7-child3,
.android-large-7-child4,
.android-large-7-child5,
.android-large-7-child6,
.android-large-7-child7 {
  border: 0;
  background-color: var(--color-paleturquoise);
  position: absolute;
  top: 224px;
  left: 116px;
  width: 64px;
  height: 38px;
}
.android-large-7-child4,
.android-large-7-child5,
.android-large-7-child6,
.android-large-7-child7 {
  left: 296px;
}
.android-large-7-child5,
.android-large-7-child6,
.android-large-7-child7 {
  top: 270px;
}
.android-large-7-child6,
.android-large-7-child7 {
  top: 316px;
}
.android-large-7-child7 {
  top: 362px;
}
.android-large-7-child8 {
  border: 0;
  top: 408px;
}
.android-large-7-child10,
.android-large-7-child11,
.android-large-7-child8,
.android-large-7-child9 {
  position: absolute;
  left: 296px;
  background-color: var(--color-paleturquoise);
  width: 64px;
  height: 38px;
}
.android-large-7-child9 {
  border: 0;
  top: 454px;
}
.android-large-7-child10,
.android-large-7-child11 {
  top: 500px;
}
.android-large-7-child11 {
  top: 546px;
}
.android-large-7-child12,
.android-large-7-child13,
.android-large-7-child14,
.android-large-7-child15 {
  position: absolute;
  top: 592px;
  left: 296px;
  background-color: var(--color-paleturquoise);
  width: 64px;
  height: 38px;
}
.android-large-7-child13,
.android-large-7-child14,
.android-large-7-child15 {
  top: 638px;
}
.android-large-7-child14,
.android-large-7-child15 {
  top: 684px;
}
.android-large-7-child15 {
  top: 730px;
}
.android-large-7-child16,
.android-large-7-child17,
.android-large-7-child18,
.android-large-7-child19 {
  position: absolute;
  top: 250px;
  left: 508px;
  background-color: var(--color-paleturquoise);
  width: 64px;
  height: 38px;
}
.android-large-7-child17,
.android-large-7-child18,
.android-large-7-child19 {
  top: 270px;
  left: 116px;
}
.android-large-7-child18,
.android-large-7-child19 {
  top: 316px;
}
.android-large-7-child19 {
  top: 362px;
}
.android-large-7-child20,
.android-large-7-child21,
.android-large-7-child22,
.android-large-7-child23 {
  position: absolute;
  top: 408px;
  left: 116px;
  background-color: var(--color-paleturquoise);
  width: 64px;
  height: 38px;
}
.android-large-7-child21,
.android-large-7-child22,
.android-large-7-child23 {
  top: 454px;
}
.android-large-7-child22,
.android-large-7-child23 {
  top: 500px;
}
.android-large-7-child23 {
  top: 546px;
}
.android-large-7-child24,
.android-large-7-child25,
.android-large-7-child26,
.android-large-7-child27 {
  position: absolute;
  top: 592px;
  left: 116px;
  background-color: var(--color-paleturquoise);
  width: 64px;
  height: 38px;
}
.android-large-7-child25,
.android-large-7-child26,
.android-large-7-child27 {
  top: 638px;
}
.android-large-7-child26,
.android-large-7-child27 {
  top: 684px;
}
.android-large-7-child27 {
  top: 730px;
}
.android-large-7 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 800px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
