body {
  margin: 0;
  line-height: normal;
}
.vecteezy-technology-background-icon9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  width: 858px;
  height: 1121px;
  object-fit: cover;
}
.android-icon9 {
  position: absolute;
  top: 8px;
  left: 80px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.vector-icon37,
.vector-icon38,
.vector-icon39,
.vector-icon40 {
  position: absolute;
  height: 2.5%;
  width: 6.42%;
  top: 0.63%;
  right: 16.63%;
  bottom: 96.88%;
  left: 76.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon38,
.vector-icon39,
.vector-icon40 {
  height: 2.19%;
  width: 6.94%;
  top: 1%;
  right: 25%;
  bottom: 96.81%;
  left: 68.06%;
}
.vector-icon39,
.vector-icon40 {
  height: 1.56%;
  top: 1.25%;
  right: 6.94%;
  bottom: 97.19%;
  left: 86.11%;
}
.vector-icon40 {
  height: 2.73%;
  width: 6.08%;
  top: 1%;
  right: 61.98%;
  bottom: 96.27%;
  left: 31.94%;
}
.pm9 {
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: var(--font-size-2xs);
  display: inline-block;
  width: 70px;
  height: 16px;
}
.android-large-2-child,
.android-large-2-item {
  position: absolute;
  top: 396px;
  border-radius: var(--br-md);
  height: 76px;
}
.android-large-2-child {
  left: 187px;
  background-color: var(--color-skyblue);
  width: 173px;
}
.android-large-2-item {
  left: 3px;
  width: 170px;
}
.undraw-analyze-re-9kco-1-icon {
  position: absolute;
  height: 25%;
  width: 55.56%;
  top: 13.88%;
  right: 21.39%;
  bottom: 61.13%;
  left: 23.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.login,
.sign-up {
  position: absolute;
  top: 410px;
  left: 21px;
  display: inline-block;
  width: 124px;
  height: 34px;
}
.sign-up {
  left: 190px;
  width: 209px;
  height: 39px;
}
.android-large-2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 360px;
  height: 800px;
  overflow: hidden;
}
.android-large-2-parent {
  position: relative;
  width: 100%;
  height: 800px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
